html, body {
  height: 100%; /* Задаем высоту для html и body */
  margin: 0;   /* Убираем стандартные отступы у body */
}


.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f; // Примерный фон
    width: 100%; /* Занимает всю ширину */
    height: 100%;
  
    .auth-container {
      background-color: #1f1f1f;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
  
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        
  
        input {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
  
        button {
          padding: 10px 15px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
      }
  
      .auth-toggle {
        text-align: center;
        margin-top: 10px;
  
        button {
          background: none;
          color: #007bff;
          border: none;
          cursor: pointer;
        }
      }
    }
  }