.main-page {
    display: flex;
    flex-direction: column;
    align-items: center; // Центрируем по горизонтали
    justify-content: center; // Центрируем по вертикали
    min-height: 100vh; // Занимаем всю высоту экрана
    width: 100%;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }